/* Global design tokens */
:root {
  --color-bg: #000000;
  --color-text: #f0f0f0;
  --color-accent-pink: #979797;
  --color-accent-weizenbaum: #97D700;
  --color-accent-flusser: #FA4616;
  --color-accent-virilio: #fff627;
  --color-accent-weibel: #8DC8E8;
  --font-mono: 'Courier New', Courier, monospace;
  --typewriter-speed: 125ms;
}

/* Global reset */
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-mono);
  overflow-x: hidden;
  overflow-y: hidden;
  caret-color: transparent;
  cursor: default;
}
